#DB
POSTGRES_DB=data
POSTGRES_USER=data
POSTGRES_PASSWORD=data
POSTGRES_HOST=data
POSTGRES_PORT=data


#STOGARE
SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SECRET_KEY=tu_secret_o_service_role_key
SUPABASE_BUCKET=congreso-imagenes